################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SampleCode
/src/JwtSample/obj
/src/MvcCookieSample/obj
/src/SampleCode/bin
/src/SampleCode/obj
/src/SampleCode.Tests/obj
/src/SampleCode.Tests/bin